<h2 mat-dialog-title>
  Update Password
</h2>

<mat-dialog-content>
  <p class="mb-2">
    User: <b>{{ data.personalDetails?.firstName }} {{ data.personalDetails?.lastName }}</b>
  </p>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>New Password</mat-label>
    <input matInput type="password" [(ngModel)]="password">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" [(ngModel)]="confirmPassword">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()">
    Update
  </button>
</mat-dialog-actions>
