<mat-card class="forgot-dialog p-0">

  <!-- ===== INNER CARD ===== -->
  <div class="inner-card">

    <!-- ========== HEADER ========== -->
    <div class="dialog-header d-flex align-items-center justify-content-between">
      <h4 class="m-0">Forgot Password</h4>
      <button
        type="button"
        class="close-btn"
        (click)="closeDialogx()">
        ×
      </button>
    </div>

    <!-- ========== BODY ========== -->
    <div class="dialog-body text-center">

      <p class="description">
        Enter your registered WhatsApp Numeber or  EmailId and we’ll send you<br />
        a secure reset link.
      </p>

      <form
        [formGroup]="forgotForm"
        (ngSubmit)="onSubmit()">

          <mat-form-field appearance="fill" class="full-width">
              <mat-label>Email or WhatsApp Number</mat-label>
              <input matInput type="text" formControlName="contact" placeholder="Enter email or phone" />

              <!-- Error Messages -->
              <mat-error *ngIf="forgotForm.get('contact')?.errors?.['required'] && forgotForm.get('contact')?.touched">
                This field is required
              </mat-error>

              <mat-error *ngIf="forgotForm.get('contact')?.errors?.['invalidContact'] && forgotForm.get('contact')?.touched">
                Enter a valid email or phone number
              </mat-error>
            </mat-form-field>

        <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
        <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>


       <!-- ========== FOOTER ========== -->
        <div class="dialog-footer text-center">
          <button
            mat-raised-button
            type="submit"
            class="send-btn"
            [disabled]="loading">
            {{ loading ? 'Sending...' : 'Send Reset Link' }}
          </button>

          <!-- <button mat-button class="login-link" (click)="goToLogin($event)">
            Login
          </button> -->
        </div>

      </form>
    </div>
  </div>
</mat-card>
