<div class="container">
    <!-- Form with Tab Navigation -->
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="form-container">
      <mat-card class="form-card">
        <mat-tab-group>

          <!-- Personal Details -->
          <mat-tab label="Personal Details">
            <ng-template mat-tab-label>
              <mat-icon>person</mat-icon>
              <span>Personal Details</span>
            </ng-template>

            <div class="tab-content" formGroupName="personalDetails">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" required />
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Father Name</mat-label>
                <input matInput formControlName="middleName" required />
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" required />
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="full-width">
                <mat-label>Date of Birth</mat-label>
                <input matInput formControlName="dateOfBirth" type="date"  required />
              </mat-form-field> -->

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Age</mat-label>                
                <input matInput formControlName="age" type="number" [value]="profileForm.get('personalDetails.dateOfBirth')?.value | ageCal" readonly />
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender" required>
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                </mat-select>
              </mat-form-field>


              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Religion</mat-label>
                <input matInput formControlName="religion" type="text" value="hindu" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Caste</mat-label>
                <input matInput formControlName="caste" type="text" value="Maratha" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Sub Caste</mat-label>
                <!-- <input matInput formControlName="subCaste" type="text" value="" /> -->
                <mat-select formControlName="subCaste">
                  <mat-option *ngFor="let option of subCasteOptions" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>            

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Marital Status</mat-label>
                <!-- <input matInput formControlName="maritalStatus" type="text" value="" /> -->
                <mat-select formControlName="subCaste">
                  <mat-option *ngFor="let option of maritalStatusOptions" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Height</mat-label>
                <input matInput formControlName="height" type="text" />
              
                <mat-select matSuffix formControlName="heightUnit" disableRipple class="height-unit-select">
                  <mat-option value="feet">Feet</mat-option>
                  <mat-option value="inches">Inches</mat-option>
                </mat-select>
              </mat-form-field>
                            
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Complexion</mat-label>
                <!-- <input matInput formControlName="complexion" type="text" value="" /> -->
                <mat-select formControlName="complexion">
                  <mat-option *ngFor="let option of complexionOptions" [value]="option">{{ option }}</mat-option>
                </mat-select>
                
              </mat-form-field>
              <!-- Physical Disability Dropdown -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Physical Disability</mat-label>
                <mat-select formControlName="physicalDisability">
                  <mat-option value="yes">Yes</mat-option>
                  <mat-option value="no">No</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Disability Details shown only when 'yes' is selected -->
              <div *ngIf="profileForm.get('personalDetails.physicalDisability')?.value === 'yes'">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Disability Details</mat-label>
                  <input matInput formControlName="disabilityDetails" type="text" />
                </mat-form-field>
              </div>

              <!-- <mat-form-field appearance="outline" class="full-width">
                <mat-label>Physical Disability</mat-label>
                <input matInput formControlName="physicalDisability" type="text" value="" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Disability Details</mat-label>
                <input matInput formControlName="disabilityDetails" type="text" value="" />
              </mat-form-field> -->
              
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Weight</mat-label>
                <input matInput formControlName="weight" type="text" value="" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Blood Group</mat-label>
                <!-- <input matInput formControlName="bloodGroup" type="text" value="" /> -->
                <mat-select formControlName="bloodGroup">
                  <mat-option *ngFor="let option of bloodGroupOptions" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>languagesSpoken</mat-label>
                <input matInput formControlName="languagesSpoken" type="text" value="" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>diet</mat-label>                
                <!-- <input matInput formControlName="diet" type="text" value="" /> -->
                <mat-select formControlName="diet">
                  <mat-option *ngFor="let option of dietOptions" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Spectacles</mat-label>
                <input matInput formControlName="spectacles" type="text" value="" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>lens</mat-label>
                <input matInput formControlName="lens" type="text" value="" />
              </mat-form-field>
            </div>
          </mat-tab>
          <!-- Horoscope Details -->
          <mat-tab label="Horoscope Details">
            <ng-template mat-tab-label>
              <mat-icon>star</mat-icon>
              <span>Horoscope Details</span>
            </ng-template>

            <div class="tab-content" formGroupName="horoscopeDetails">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Rashi</mat-label>
                <mat-select formControlName="rashi">
                  <mat-option *ngFor="let option of rashiOptions" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nakshatra</mat-label>
                <mat-select formControlName="nakshatra">
                  <mat-option *ngFor="let option of nakshatraOptions" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Charan</mat-label>
                <mat-select formControlName="charan">
                  <mat-option *ngFor="let option of charanOptions" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nadi</mat-label>
                <mat-select formControlName="nadi">
                  <mat-option *ngFor="let option of nadiOptions" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Gan</mat-label>
                <mat-select formControlName="nadi">
                  <mat-option *ngFor="let option of ganOptions" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Mangal</mat-label>
                <mat-select formControlName="mangal">
                  <mat-option *ngFor="let option of mangalOptions" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Birth Time</mat-label>
                <input matInput formControlName="birthTime" type="time" value="" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Birth Place</mat-label>
                <input matInput formControlName="birthPlace" type="text" value="" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Deva</mat-label>
                <input matInput formControlName="deva" type="text" value="" />
              </mat-form-field>
            </div>
          </mat-tab>

          <!-- Family Details -->

          <mat-tab label="Family Details">
            <ng-template mat-tab-label>
              <mat-icon>group</mat-icon>
              <span>Family Details</span>
            </ng-template>

            <div class="tab-content" formGroupName="familyDetails">
            <!-- Father Details -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Father</mat-label>
              <mat-select formControlName="father" required>
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Father's Full Name</mat-label>
              <input matInput formControlName="fatherName" type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Father's Occupation</mat-label>
              <input matInput formControlName="fatherOccupation" type="text" />
            </mat-form-field>
          
            <!-- Mother Details -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Mother</mat-label>
              <mat-select formControlName="mother" required>
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Mother's Full Name</mat-label>
              <input matInput formControlName="motherName" type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Mother's Occupation</mat-label>
              <input matInput formControlName="motherOccupation" type="text" />
            </mat-form-field>
          
            <!-- Brothers Details -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Do you have brothers?</mat-label>
              <mat-select formControlName="hasBrothers">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Number of Brothers</mat-label>
              <mat-select formControlName="brothersCount">
                <mat-option *ngFor="let count of [1,2,3,4,5,6,7,8,9,10]" [value]="count">{{ count }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Number of Married Brothers</mat-label>
              <mat-select formControlName="brothersMarriedCount">
                <mat-option *ngFor="let count of [1,2,3,4,5,6,7,8,9,10]" [value]="count">{{ count }}</mat-option>
              </mat-select>
            </mat-form-field>
          
            <!-- Sisters Details -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Do you have sisters?</mat-label>
              <mat-select formControlName="hasSisters">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Number of Sisters</mat-label>
              <mat-select formControlName="sistersCount">
                <mat-option *ngFor="let count of [1,2,3,4,5,6,7,8,9,10]" [value]="count">{{ count }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Number of Married Sisters</mat-label>
              <mat-select formControlName="sistersMarriedCount">
                <mat-option *ngFor="let count of [1,2,3,4,5,6,7,8,9,10]" [value]="count">{{ count }}</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- Additional Fields -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Parent's Resident City</mat-label>
              <input matInput formControlName="parentsResidentCity" type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Surnames of Relatives</mat-label>
              <input matInput formControlName="relativesSurnames" type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Family Wealth Details</mat-label>
              <input matInput formControlName="familyWealth" type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Mama's Full Name and Place</mat-label>
              <input matInput formControlName="mamaNameAndPlace" type="text" />
            </mat-form-field>
          
            <!-- District and Taluka -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Native District</mat-label>
              <mat-select formControlName="nativeDistrict">
                <mat-option *ngFor="let district of ['Pune', 'Mumbai', 'Nagpur', 'Solapur']" [value]="district">{{ district }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Native Taluka</mat-label>
              <input matInput formControlName="nativeTaluka" type="text" />
            </mat-form-field>
          
            <!-- Intercaste Marriage -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Any Intercaste Marriages?</mat-label>
              <mat-select formControlName="intercasteMarriage">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="profileForm.get('familyDetails.intercasteMarriage')?.value === 'Yes'">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Details of the Intercaste Marriage</mat-label>
                <input matInput formControlName="intercasteDetails" type="text" />
              </mat-form-field>
            </div>
          
            <!-- Family Type -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Family Type</mat-label>
              <mat-select formControlName="familyType">
                <mat-option value="Nuclear">Nuclear</mat-option>
                <mat-option value="Joint">Joint</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          </mat-tab>

          <mat-tab label="Education Details">
              <ng-template mat-tab-label>
                <mat-icon>school</mat-icon>
                <span>&nbsp;Education Details</span>
              </ng-template>
            <div class="tab-content" formGroupName="educationDetails">
              <!-- Highest Qualification -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Highest Qualification</mat-label>
                <input matInput formControlName="highestQualification" type="text" />
                <mat-error>
                  Qualification is required.
                </mat-error>
              </mat-form-field>
          
              <!-- College/University Name -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>College/University Name</mat-label>
                <input matInput formControlName="collegeName" type="text" />
                <mat-error>
                  College/University name is required.
                </mat-error>
              </mat-form-field>
          
              <!-- Year of Completion -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Year of Completion</mat-label>
                <input matInput formControlName="yearOfCompletion" type="text" />
                <mat-error>
                  Please enter a valid year (e.g., 2021).
                </mat-error>
              </mat-form-field>
          
              <!-- Additional Qualifications -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Additional Qualifications (if any)</mat-label>
                <textarea matInput formControlName="additionalQualifications"></textarea>
              </mat-form-field>
          
              <!-- Education Type -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Education Type</mat-label>
                <mat-select formControlName="educationType">
                  <mat-option value="Full-time">Full-time</mat-option>
                  <mat-option value="Distance">Distance</mat-option>
                  <mat-option value="Online">Online</mat-option>
                </mat-select>
                <mat-error>
                  Education type is required.
                </mat-error>
              </mat-form-field>
            </div>
          </mat-tab>

          <mat-tab label="Career Information">
              <ng-template mat-tab-label>
                <mat-icon>work</mat-icon>
                <span>Career Information</span>
              </ng-template>
            <div class="tab-content" formGroupName="careerDetails">
          
              <!-- Occupation/Profession -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Occupation/Profession</mat-label>
                <input matInput formControlName="occupation" type="text" />
                <mat-error>
                  Occupation/Profession is required.
                </mat-error>
              </mat-form-field>
          
              <!-- Job Title/Designation -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Job Title/Designation</mat-label>
                <input matInput formControlName="jobTitle" type="text" />
                <mat-error>
                  Job Title/Designation is required.
                </mat-error>
              </mat-form-field>
          
              <!-- Company/Organization Name -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Company/Organization Name</mat-label>
                <input matInput formControlName="companyName" type="text" />
                <mat-error>
                  Company/Organization Name is required.
                </mat-error>
              </mat-form-field>
          
              <!-- Annual Income -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Annual Income</mat-label>
                <input matInput formControlName="annualIncome" type="text" />
                <mat-error>
                  Please enter a valid numeric income.
                </mat-error>
              </mat-form-field>
          
              <!-- Work Location -->
              <!-- <div formGroupName="workLocation"> -->
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>City</mat-label>
                  <input matInput formControlName="workLocationCity" type="text" />
                  <mat-error>
                    City is required.
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Country</mat-label>
                  <input matInput formControlName="workLocationCountry" type="text" />
                  <mat-error>
                    Country is required.
                  </mat-error>
                </mat-form-field>
              <!-- </div> -->
          
              <!-- Employment Type -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Employment Type</mat-label>
                <mat-select formControlName="employmentType">
                  <mat-option value="Full-time">Full-time</mat-option>
                  <mat-option value="Part-time">Part-time</mat-option>
                  <mat-option value="Freelancer">Freelancer</mat-option>
                </mat-select>
                <mat-error>
                  Employment Type is required.
                </mat-error>
              </mat-form-field>
          
              <!-- Previous Work Experience -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Previous Job/Work Experience</mat-label>
                <textarea matInput formControlName="previousWorkExperience"></textarea>
              </mat-form-field>
            </div>
          </mat-tab>
          
          <mat-tab label="Lifestyle & Interests">
              <ng-template mat-tab-label>
                <mat-icon>favorite</mat-icon>
                <span>Lifestyle & Interests</span>
              </ng-template>
            <div class="tab-content" formGroupName="lifestyleDetails">
              <!-- Diet -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Diet</mat-label>
                <mat-select formControlName="diet">
                  <mat-option value="Vegetarian">Vegetarian</mat-option>
                  <mat-option value="Non-Vegetarian">Non-Vegetarian</mat-option>
                  <mat-option value="Vegan">Vegan</mat-option>
                  <mat-option value="Other">Other</mat-option>
                </mat-select>
                <mat-error>
                  Please select your diet preference.
                </mat-error>
              </mat-form-field>
          
              <!-- Smoking -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Smoking</mat-label>
                <mat-select formControlName="smoking">
                  <mat-option value="Yes">Yes</mat-option>
                  <mat-option value="No">No</mat-option>
                </mat-select>
                <mat-error >
                  Please specify if you smoke.
                </mat-error>
              </mat-form-field>
          
              <!-- Drinking -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Drinking</mat-label>
                <mat-select formControlName="drinking">
                  <mat-option value="Yes">Yes</mat-option>
                  <mat-option value="No">No</mat-option>
                </mat-select>
                <mat-error>
                  Please specify if you drink alcohol.
                </mat-error>
              </mat-form-field>
          
              <!-- Hobbies/Interests -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Hobbies/Interests</mat-label>
                <textarea matInput formControlName="hobbies"></textarea>
              </mat-form-field>
          
              <!-- Sports/Activities -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Sports/Activities</mat-label>
                <textarea matInput formControlName="sportsActivities"></textarea>
              </mat-form-field>
          
              <!-- Favorite Books -->
              <!-- <div formGroupName="favoriteMedia"> -->
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Favorite Books</mat-label>
                  <textarea matInput formControlName="favoriteBooks"></textarea>
                </mat-form-field>
          
                <!-- Favorite Movies -->
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Favorite Movies</mat-label>
                  <textarea matInput formControlName="favoriteMovies"></textarea>
                </mat-form-field>
          
                <!-- Favorite TV Shows -->
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Favorite TV Shows</mat-label>
                  <textarea matInput formControlName="favoritetvShows"></textarea>
                </mat-form-field>
              <!-- </div> -->
            </div>
          </mat-tab>
          
          <mat-tab label="Partner Preferences">
              <ng-template mat-tab-label>
                <mat-icon>favorite</mat-icon>
                <span>Partner Preferences</span>
              </ng-template>
              <div class="tab-content" formGroupName="partnerPreferencesDetails">
              <!-- Age Range -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Age Range (e.g., 25-30)</mat-label>
                <input matInput formControlName="ageRange" type="text" />
              </mat-form-field>
          
              <!-- Height Preference -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Height Preference</mat-label>
                <input matInput formControlName="heightPreference" type="text" />
                <mat-error>
                  Height preference is required.
                </mat-error>
              </mat-form-field>
          
              <!-- Religion/Caste Preferences -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Religion/Caste Preferences</mat-label>
                <textarea matInput formControlName="religionCastePreferences"></textarea>
              </mat-form-field>
          
              <!-- Education Preferences -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Education Preferences</mat-label>
                <textarea matInput formControlName="educationPreferences"></textarea>
              </mat-form-field>
          
              <!-- Occupation Preferences -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Occupation Preferences</mat-label>
                <textarea matInput formControlName="occupationPreferences"></textarea>
              </mat-form-field>
          
              <!-- Location Preferences -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Location Preferences (City, Country)</mat-label>
                <textarea matInput formControlName="locationPreferences"></textarea>
              </mat-form-field>
          
              <!-- Languages Spoken Preferences -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Languages Spoken Preferences</mat-label>
                <textarea matInput formControlName="languagesPreferences"></textarea>
              </mat-form-field>
          
              <!-- Lifestyle Preferences -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Lifestyle Preferences (e.g., Vegetarian, Non-Smoker)</mat-label>
                <textarea matInput formControlName="lifestylePreferences"></textarea>
              </mat-form-field>
            </div>
          </mat-tab>

            <mat-tab label="Contact Information">
              <ng-template mat-tab-label>
                <mat-icon>contact_mail</mat-icon>
                <span>Contact Information</span>
              </ng-template>
            <div class="tab-content" formGroupName="contactDetails">
              <!-- Email Address -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email Address</mat-label>
                <input matInput formControlName="emailAddress" type="email" />
                <mat-error >
                  Please enter a valid email address.
                </mat-error>
              </mat-form-field>
          
              <!-- Phone Number -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phoneNumber" type="text" />
                <mat-error>
                  Please enter a valid 10-digit phone number.
                </mat-error>
              </mat-form-field>
          
              <!-- City -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>City</mat-label>
                <input matInput formControlName="city" type="text" />
                <mat-error>
                  City is required.
                </mat-error>
              </mat-form-field>
          
              <!-- State -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>State</mat-label>
                <input matInput formControlName="state" type="text" />
                <mat-error>
                  State is required.
                </mat-error>
              </mat-form-field>
          
              <!-- Country -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Country</mat-label>
                <input matInput formControlName="country" type="text" />
                <mat-error>
                  Country is required.
                </mat-error>
              </mat-form-field>
            </div>
        </mat-tab>

        <mat-tab label="Photos">
            <ng-template mat-tab-label>
              <mat-icon>image</mat-icon>
              <span>Photos</span>
            </ng-template>
            <div class="tab-content" formGroupName="photoDetails">
            <!-- Profile Picture -->
            <div class="photo-upload">
              <mat-label>Profile Picture</mat-label>
              <!-- <input type="file" formControlName="profilePicture" (change)="onFileSelected($event, 'profilePicture')" />
              <mat-error >
                A profile picture is required.
              </mat-error> -->
            </div>
        
            <!-- Family Picture -->
            <div class="photo-upload">
              <mat-label>Family Picture (Optional)</mat-label>
              <!-- <input type="file" formControlName="familyPicture" (change)="onFileSelected($event, 'familyPicture')" /> -->
            </div>
          </div>
          </mat-tab>

          <mat-tab label="Additional Information">
            <ng-template mat-tab-label>
              <mat-icon>info</mat-icon>
              <span>Additional Information</span>
            </ng-template>
            <div class="tab-content" formGroupName="additionalInfoDetails">

            <!-- Personal Description -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Personal Description (about yourself, values, and personality)</mat-label>
              <textarea matInput formControlName="personalDescription" rows="4"></textarea>
              <mat-error>
                Personal description is required and must not exceed 1000 characters.
              </mat-error>
            </mat-form-field>

            <!-- Reason for Seeking a Partner -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Why are you seeking a partner?</mat-label>
              <textarea matInput formControlName="reasonForPartner" rows="4"></textarea>
              <mat-error >
                Reason for seeking a partner is required and must not exceed 1000 characters.
              </mat-error>
            </mat-form-field>

            <!-- Partner Expectations -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Expectations from a Partner</mat-label>
              <textarea matInput formControlName="partnerExpectations" rows="4"></textarea>
              <mat-error>
                Partner expectations are required and must not exceed 1000 characters.
              </mat-error>
            </mat-form-field>
          </div>
          </mat-tab>

        </mat-tab-group>

        <!-- Submit Button -->
        <button mat-raised-button color="primary" type="submit" [disabled]="profileForm.invalid">
          Submit
        </button>
      </mat-card>
    </form>
  </div>